
.white-background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.btn:hover{
    -fx-cursor: hand;
}

.mouse-moved:hover{
    -fx-background-color: #E4E4E4;
}

.selected{
    -fx-background-color: #F3F3F3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0), 10, 0, 0, 10);
}

.berlin-sans-font{
    -fx-font-family: "Berlin Sans FB";
}


.text:focused{
    -fx-border-color: silver;
    -fx-border-radius: 5;
}

.text-link:visited, .text-link:link {
    -fx-color: blue;
}

.borrow-btn {
    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-border-radius: 12px;
}

.available {
    -fx-text-fill: #5a8431;
}

.not-available {
    -fx-text-fill: #ac2a1e;
}

.borrow-btn.available {
    -fx-text-fill: white;
    -fx-background-color: #5a8431;
}

.borrow-btn.not-available {
    -fx-text-fill: white;
    -fx-background-color: #ac2a1e;
}

.hyperlink {
    -fx-border-color: transparent;
}
