
.white-background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.btn:hover{
    -fx-cursor: hand;
}

.mouse-moved:hover{
    -fx-background-color: #E4E4E4;
}

.selected{
    -fx-background-color: #F3F3F3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0), 10, 0, 0, 10);
}

.berlin-sans-font{
    -fx-font-family: "Berlin Sans FB";
}


.text:focused{
    -fx-border-color: silver;
    -fx-border-radius: 5;
}
